/*
 * Author 	: HIMANSHU GUPTA 
 * Email 		: himanshucse2012@gmail.com
 * Website	:	http://www.indioweb.in/portfolio
 */
 
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
 
/*
 * Basic CSS starts 
 */

body{
	font-family: 'Open Sans', Sans Serif;
	font-weight: 400;
	color: #545454;
	-webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans', Sans Serif;
	font-weight: 600;
}
.orcamento{
	-webkit-box-shadow: 0px 0px 0px 2px rgba(30,39,89,0.43);
	-moz-box-shadow: 0px 0px 0px 2px rgba(30,39,89,0.43);
	box-shadow: 0px 0px 0px 2px rgba(30,39,89,0.43);
}
.mais-portoes {
	font-size: 2rem;
	margin-top: 10px ;
}
.clique-aqui{
	color: black;
	cursor: pointer;
	font-weight: 900;
}
p{
	margin:0;
	padding:0;
}

a{
	text-decoration: none;
	color: #4f56bb;
}

a:hover{
	text-decoration: none;
	color: #231a3b;
}

a:hover,a:active,a:focus {
	outline: 0;
}

nav.navbar.navbar-default.affix {
	width: 100%;
	z-index: 999;
}

:focus {
	outline:none;
}

::-moz-focus-inner {
	border:0;
}

/* 
 * Basic CSS ends 
 */

header .navbar { 
	margin: 0;
	border-radius: 0;
	border-bottom: 1px solid #231f57; 
	box-shadow: 0 1px 15px rgba(0,0,0,0.2);
}
header .navbar-nav>li>a {
	margin: 15px 3px;
	padding-top: 6px;
	padding-bottom: 6px;
	border: 1px solid transparent;
	border-radius: 3px;
}

header .navbar-default .navbar-nav>li>a:hover, 
header .navbar-default .navbar-nav>li>a:focus,
header .navbar-default .navbar-nav>li.open>a:hover, 
header .navbar-default .navbar-nav>li.open>a:focus {
	background: #fff;
	border: 1px solid #51367c;
}

header .navbar-nav .dropdown-menu {
	top: 57px;
	border-radius: 3px;
	border-color: #363b83;
}

header .navbar-nav .dropdown-menu:after, 
header .navbar-nav .dropdown-menu:before {
	bottom: 100%;
	right: 30px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

header .navbar-nav .dropdown-menu:after {
	border-color: rgba(240, 253, 255, 0);
	border-bottom-color: #fff;
	border-width: 7px;
}

header .navbar-nav .dropdown-menu:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #433e83;
	border-width: 8px;
	margin-right: -1px;
}
header .navbar-brand {
	padding: 0;
	height: auto;
}
header .navbar-brand img {
	position: relative;
	top: 7px;
	max-width: 165px;
}

/*
 * Banner 
 */
 
.banner {
	background: #fff url('../img/serralheria.jpg');
	padding-top: 150px;
	padding-bottom: 150px;
	text-align: center;

}

.banner h2 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 28px;
	line-height: 35px;
	color: #eee;
}
.container.carrossel{
	overflow: hidden !important;
	
}
.carousel-inner > .item > img {
	min-width: 100%;
	height: max-content; 
	margin: 0 auto;
}
.carousel-inner {
	-webkit-box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.75);	
}
.container-carrossel{
	padding: 7vh;
}
.banner h3 {
	margin-top: 20px;
	margin-bottom: 25px;
	font-size: 20px;
	line-height: 25px;
	color: #ddd;
	text-transform: uppercase;
	letter-spacing: 0.055em;
}

.banner .btn {
	padding: 7px 25px;
	font-size: 14px;
	border-radius: 30px;
}

/*
 * default heading
 */

.default-heading {
	margin-bottom: 30px;
	text-align: center; 
}
.default-heading h2 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 32px; 
}
.default-heading p {
	font-size: 14px;
	line-height: 26px;
	text-transform: capitalize;
	letter-spacing: 0.055em;
}

/*
 * works
 */
 
.works {
	padding-top: 10vh;
	padding-bottom: 30px;
}

.works .work-item {
	max-width: 360px;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
}
.works .work-item h3 {
	margin-top: 20px;
	font-size: 22px;
}

.works .work-item .org {
	display: block;
	font-size: 13px;
	font-style: italic;
	text-transform: uppercase;
}

/*
 * team
 */
 
.team {
	padding-top: 120px;
	padding-bottom: 30px;
}

.team .member {
	max-width: 360px;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
}
.team .member h4 {
	margin-top: 20px;
	font-size: 22px;
}
.team .member p {
	padding: 0 15px;
	font-size: 14px;
	line-height: 23px;
}


/*
 * Contact
 */
 
.contact {
	padding-top: 120px;
	padding-bottom: 120px;
}

.contact h3 {
	margin-top: 0px;
	font-size: 20px;
}
.contact p {
	padding: 0 15px;
	font-size: 14px;
	line-height: 23px;
}

footer {
	padding: 50px 0;
	background: #2d194d;
	text-align: center;
}

footer p {
	font-size: 13px;
	line-height: 25px;
	color: #fff;
}
footer p a { 
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: 0.055em;
	color: #fff;
}
footer p a:hover { color: #fb6c6c; }
footer img {
	max-width: 150px !important;
	margin: 15px auto;
	background: #f8f8f8;
	border-radius: 4px;
}

footer .social a {
	display: inline-block;
	margin: 0 2px;
	margin-top: 5px;
	padding: 2px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	background: #fff;
	font-size: 14px;
	border-radius: 4px;
}

footer .social a  i {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 30px;
	border-radius: 3px;
	border: 1px dashed #24185a;
}

footer .copy-right {
	margin-top: 10px;
}

/*
 * Responsive CSS 
 */

/*
 * Mobile phones 
 */
 @media screen and (max-width: 768px){
	element {
		width: 100%;
		margin-left: 0vh !important;
	}
	.container-carrossel {
		padding: 0 ;
		padding-top: 10% ;
	}
}


@media screen and (max-width: 767px){ /*mobile menu above*/
	header .navbar-brand img {
		position: unset;
		
	}
	.navbar-brand > .img-responsive{
		margin-left: 30vh;
		min-width: 38vh;
		margin-top: -2vh;
	}
}

@media screen and (max-width: 600px){
	.container-carrossel {
	padding-top: 13% !important;
	}
	.navbar-brand > .img-responsive{
		margin-left: 17vh;
	}
}
@media screen and (max-width: 448px){
	.container-carrossel {
	padding-top: 17% !important;
	}
	.navbar-brand > .img-responsive{
		margin-left: 6vh;
	}
}
@media screen and (max-width: 420px){
	.navbar-brand > .img-responsive{
		min-width: 38vh ;
		margin-left: 4vh;
	}
}
/*
 * Tablets 
 */
@media (max-width: 767px){
	header .navbar-nav .dropdown-menu:after, 
	header .navbar-nav .dropdown-menu:before { display: none;}
	.contact .contact-container {
		max-width: 360px;
		margin: 0 auto;
	}
	.contact .contact-container form{	margin-bottom: 30px;}
	.contact .contact-container .map { margin-top: 30px; }
}

/*
 * Desktop 
 */
@media (max-width: 991px){

}
img.img-responsive.miniaturas {
    min-height: 23vh;
}
img {
    max-width: 100%;
	display: block;

  }
  .thumbnail {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 240px;
    -webkit-transform: translate(-50%, -50%);
    /* Safari and Chrome */
    -moz-transform: translate(-50%, -50%);
    /* Firefox */
    -ms-transform: translate(-50%, -50%);
    /* IE 9 */
    -o-transform: translate(-50%, -50%);
    /* Opera */
    transform: translate(-50%, -50%);
  }
  .image {
    width: 100%;
    height: 100%;
  }
  .image img {
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -o-transition: all 1s ease;
    /* IE 9 */
    -ms-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease;
  }
  .image:hover img {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
  }